*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.accordian-container {
  width: 100%;
  max-width: 600px;
  margin:50px 10px 0;
  word-wrap: break-word;
}
.accordian-item {
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 10px;
}
.accordian-title {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.648);
  padding: 10px;
  transition: all 0.4s linear;
}
.accordian-title:hover {
  background-color: rgba(255, 68, 0, 0.763);
  cursor: pointer;
}
.accordian-content {
  padding: 10px;
  background-color: beige;
  display: none;
  width: 100%;
  word-wrap: break-word;
  font-size: 17px;
}

.accordian-item.active .accordian-content {
  display: block;
}
